.tabs {
  list-style: none;
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  li:first-child .tab {
    border-radius: 5px 0 0 5px;
  }

  li:last-child .tab {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #DFE5EC;
  }

  .tab {
    padding: 15px;
    font-size: 12px;
    background-color: white;
    border: 1px solid #DFE5EC;
    border-right: none;
    width: 168px;
    height: 50px;
    line-height: 20px;
    color: #4A4A4A;
    text-align: center;

    &.active {
      background-color: #2196F3;
      color: white;
      border: none;
    }
  }
}